<% if logged_in? %>
  <p>Hi <%= current_user.username %>! These are your options:</p>
  <ul>
  <li><a href="/users/<%=current_user.slug %>">See all your reviews</a></li>
  <li><a href="/reviews/new">Write a new review</a></li>
  <li><a href="/logout">Log out</a></li>
  </ul>
<% end %>

<h2> Here's our book list: </h2>

<% if @books.length==0 %>
  <p>
    (There are no books yet)
  </p>
<% else %>
  <ul>
  <% @books.each do |book| %>
    <% if book.reviews.size >=1 %>
      <% star_ratings = book.reviews.collect {|review| review.stars} %>
      <li><%= book.title %> <font size="-1">(by <%= book.author %>)</font>
      - Avg Star Rating: <%= star_ratings.sum/star_ratings.size.to_f %>
      - <a href="/books/<%=book.slug %>">See book reviews</a>
      </li>
    <% else %>
      <li><%= book.title %> <font size="-1">(by <%= book.author %>)</font>
      - Avg Star Rating: N/A
      </li>
    <% end %>
  <% end %>
  </ul>
<% end %>
